.selected{
    border:2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
}
.ui.itms > .item{
    display: flex;
    box-shadow: none;
    transition: box-shadow 0.1s ease;
    
}
.border{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 18%;
    border-radius: 9px;
    width: 90%;
    text-align: center;
}
.www{
    position: inherit;
    border-radius: 5px;
       
}
.description{
    margin-left: 15%;

}
.hed{

    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.price{
    font-size: 15px;
    margin-bottom: -30px;
    margin-left: 65%;
    margin-top: 10%;
}
.img{
    max-width: 30%;
    margin-right: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .aa{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    margin-left: 5%;
    margin-top: 12%;
}
a{
    text-decoration: none;
}
.bb{
    background-color: white;
    color: black;
}