<div  class="form-group cc">
  <div *ngIf="!falid&&message" class="alert alert-danger select" >
    {{message}}
  </div>
  <div *ngIf="message&&ff" class="alert alert-primary select" >
    {{message}}
  </div>
    <label >what are you here to do: </label>
    <select #Type id="User" name="userType" class="form-control select ">
        <option  value="Seller">Seller</option>
        <option  value="Buyer">Buyer</option>
      </select>
    <label >Name:</label>
    <input #Name class="form-control " >
  </div>
  <div class="form-group cc">
    <label >Phone:</label>
    <input #Phone  class="form-control " >
  </div>
  <div class="form-group cc">
    <label >Email:</label>
    <input #email type="email" class="form-control " >
  </div>
  <div class="form-group cc">
    <label >Creat password:</label>
    <input #password type="password" class="form-control " >
  </div>
  <div class="form-group cc">
    <label >reWrite password:</label>
    <input #validPass type="password" class="form-control " >
  </div>
  <div class="form-group cc">
  </div>
  <a class="btn btn-default bttn submet aa" (click)="SingUp(Name.value,email.value,Phone.value,password.value,Type.value,email,validPass)" >Sing Up </a>
